body{
	 font-family: Arial, Helvetica, sans-serif;"
	 margin: 0px;
	 padding: 0px;
}

model-viewer {
  width: 300px;
  height: 300px;
  margin: auto;
}


.box{
	margin-top: 5%;
	margin-left: auto;
    margin-right: auto;
    width:400px; 
	height:30px; 
}

h1{
	display: block;
	width: 400;
	height: 10;
	margin:auto;
	font-size: 3vw;
}

.cimage{
	display: block;
	margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
	width:400px; 
	height:400px; 
}


ul {
	font-weight: bold;
	font-size: 2vw;
    margin-top:400px;
    margin-left:auto;
    margin-right:auto;
    height: 20px;
    flex-wrap: wrap;
   	display: inline;
   
	
}

li{
	list-style-type: none;
    height: 0px;
   	width: 100%;


}  

.sinistra{

	text-align:left;
}  
.centro{
	text-align:center;
}  
.destra{
	text-align:right;
}  

a {
    text-decoration: none;
}
a:link, a:visited {
    color: black;
}
a:hover {
    color: white;
}


