::-webkit-scrollbar {
    
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    border: 1px solid lightgray;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:lightgray; 
    width: 5px;
    border-radius: 10px;
  }

::-webkit-scrollbar-thumb:hover {
    background:black; 
    width: 5px;
    border-radius: 10px;
  }
  
  /* Handle on hover */
* {
    box-sizing: border-box;
  }

  :root {
	--border-color:1px solid transparent;
  }

body{
    font-family: 'Lekton', sans-serif;
    margin: 0px;
    padding: 0px;
}

h1{
    
    font-weight: normal;
    line-height: 40px;
    display: flex;
    margin-left: 20px;
    max-width:300px;
}


.tecnica{
    position: relative;
    z-index: 1;
    width:100%;
    border:var(--border-color);
    border-bottom: 1px solid lightgray;
    color: lightgray;
    background-color:transparent;
    font-size: 20px;
    text-align: left;
    padding-left:40px;
}

.tecnica:hover{
  border-bottom: 1px solid black;
  color: black;
}


.boxopere {
    background-color:transparent;
    z-index:3;
    margin-left:18%;
    margin-right:20px;
    overflow-x: auto;
    overflow-y: hidden;
    display:none;
    transform: translateY(1px); 
    transform: rotate(180deg);
}
#one{
  transition: 1s ;
}

.buttonino{
  font-family: 'Lekton', sans-serif;
  border:none;
  background-color: transparent;
  width:100%;
  line-height:100%;
  font-size: 16px;
  text-align: left;
  padding: 0px;
}

.opera{
    z-index:2;
    color:black;
    font-size: 16px;
    line-height:100%;
    border: var(--border-color);
    margin-right: 10px;
    margin-bottom: 8px;
    transform: rotate(-180deg);
}

.card{
  background-color: transparent;
  display:flex;
  font-size: 14px;
  border-right: 1px solid black;
  width:380px;
  height: 300px;
}

.descopera{
  border: var(--border-color);
  margin-left:0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right:14px;
}
.maskimg{
  margin-left:6px;
  width:180px;
  height:180px;
}
.maskimg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
.desctecnica{
  background-color: transparent;
  width: 100%;
  height: 100%;
  border:var(--border-color);
}